body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    border: 0;
}

ul li{
    list-style: none;
}

h1, h2, h3, h4{
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
    text-align: center;
}

h1{
    padding: 50px 0;
    margin: 20px 0;
}
h3{
    font-size: 3.2rem;
}
h4{
    padding: 10px;
    margin: 20px;
}

.grid-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

img{
    max-width: 100%;
}

/*
.flex-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: initial;
    height: 200px;
}
.cajita{
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 400px;
    height: 225px;
    margin: 5px;
    text-align: justify;
    padding: 50px 30px;
}
.cajita:hover {
    background: #44c3eb;
    color: #fff;
    padding: 32px;
    transform: scale(0.5deg);
}
.row {
    padding-top: 50px;
    padding-bottom: 50px;
    --bs-gutter-x: 0 !important;
}
*/


#carouselExampleInterval {
    background: linear-gradient(90deg, #44c3eb 35%, #5482fd 100%);
}

.carousel-inner {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #fff;
}

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 150px;
}

.titulo{
    text-align: center;
    padding: 20px;
    margin: 40px;
    line-height: 2;
}

.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.servicios_texto {
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    text-align: justify;
    width: 400px;
    height: 225px;
}
.servicios_texto:hover {
    background: #44c3eb;
    color: #fff;
    padding: 32px;
    transform: scale(0.5deg);
}

.collapse {
    height: 70px;
    flex-grow: 0 !important;
}


@media (min-width: 1px){
    .servicios {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media (min-width: 480px){
    .servicios {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media (min-width: 768px){
    .servicios {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1480px){
    .servicios {
        grid-template-columns: repeat(3, 1fr);
    }
    
}


.fondofooter{
    background: linear-gradient(90deg, rgba(68,195,235,1) 35%, rgba(84,130,253,1) 100%);
}
.footer{
    width: min(80%, 120rem);
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
.serviciosfooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.footer_texto {
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    text-align: justify;
    width: 300px;
    height: 300px;
}

.navegacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}
.tituloredes{
    line-height: 2;
}


@media (min-width: 1px){
    .serviciosfooter {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 480px){
    .serviciosfooter {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px){
    .serviciosfooter {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1480px){
    .serviciosfooter {
        grid-template-columns: repeat(3, 1fr);
    }
}



#footer .copyright {
    margin: 0 0 5px 0;
  }
  
  #footer .credits {
    font-size: 13px;
  }

.container{
    text-align: center;
}

/*
footer{
    color: white;
    font-size: medium;
    background: linear-gradient(90deg, rgba(68,195,235,1) 35%, rgba(84,130,253,1) 100%);
    padding: 90px 0
}
.footer-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.box{
    display: inline-block;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 250px;
    text-align: justify;
}
*/






.about {
    background: #fffaf3;
  }
  
  .about .content {
    padding: 0 80px;
  }
  
  .about .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #5f5950;
  }
  
  .about .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
  }
  
  .about .content p {
    font-size: 15px;
    color: #848484;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li + li {
    margin-top: 15px;
  }
  
  .about .content ul li {
    position: relative;
    padding-left: 26px;
  }
  
  .about .content ul i {
    font-size: 20px;
    color: #00CED1;
    position: absolute;
    left: 0;
    top: 2px;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  
  .about .video-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 400px;
    position: relative;
  }
  
  .about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#00CED1 50%, rgba(224, 255, 255, 0.7) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .about .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .about .play-btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid #00ced1;
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .about .play-btn:hover::after {
    border-left: 15px solid #00CED1;
    transform: scale(20);
  }
  
  .about .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  @media (max-width: 1024px) {
    .about .content, .about .accordion-list {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 992px) {
    .about .content {
      padding-top: 30px;
    }
    .about .accordion-list {
      padding-bottom: 30px;
    }
  }
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }








  
  .contact .info-wrap {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  .contact .info {
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #00CED1;
    float: left;
    width: 44px;
    height: 44px;
    background: #fff6e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #433f39;
    font-family: "Poppins", sans-serif;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #7a7368;
  }
  
  .contact .info:hover i {
    background: #00CED1;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #00CED1;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #00BFFF;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }












  .gallery {
    padding-bottom: 0;
  }
  
  .gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  
  .gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
  }
  
  .gallery .gallery-item:hover img {
    transform: scale(1.1);
  }


  
.section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    color: #5f5950;
  }
  
  .section-title h2 span {
    color: #00CED1;
  }
  
  .section-title p {
    margin: 15px auto 0 auto;
    font-weight: 300;
  }
  
  @media (min-width: 1024px) {
    .section-title p {
      width: 50%;
    }
  }


  
  