body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    border: 0;
}

ul li{
    list-style: none;
}

h1, h2, h3, h4{
    font-family: 'PT Sans', sans-serif;
    line-height: 1.2;
    text-align: center;
}

h1{
    padding: 50px 0;
    margin: 20px 0;
}
h3{
    font-size: 3.2rem;
}
h4{
    padding: 10px;
    margin: 20px;
}

.grid-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

img{
    max-width: 100%;
}

/*
.flex-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: initial;
    height: 200px;
}
.cajita{
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 400px;
    height: 225px;
    margin: 5px;
    text-align: justify;
    padding: 50px 30px;
}
.cajita:hover {
    background: #44c3eb;
    color: #fff;
    padding: 32px;
    transform: scale(0.5deg);
}
.row {
    padding-top: 50px;
    padding-bottom: 50px;
    --bs-gutter-x: 0 !important;
}
*/


#carouselExampleInterval {
    background: linear-gradient(90deg, #44c3eb 35%, #5482fd 100%);
}

.carousel-inner {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #fff;
}

.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 150px;
}

.titulo{
    text-align: center;
    padding: 20px;
    margin: 40px;
    line-height: 2;
}

.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.servicios_texto {
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    text-align: justify;
    width: 400px;
    height: 225px;
}
.servicios_texto:hover {
    background: #44c3eb;
    color: #fff;
    padding: 32px;
    transform: scale(0.5deg);
}

.collapse {
    height: 70px;
    flex-grow: 0 !important;
}


@media (min-width: 1px){
    .servicios {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media (min-width: 480px){
    .servicios {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media (min-width: 768px){
    .servicios {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1480px){
    .servicios {
        grid-template-columns: repeat(3, 1fr);
    }
    
}


.fondofooter{
    background: linear-gradient(90deg, rgba(68,195,235,1) 35%, rgba(84,130,253,1) 100%);
}
.footer{
    width: min(80%, 120rem);
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 150px;
    
    color: white;
}
.serviciosfooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.footer_texto {
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    text-align: justify;
    width: 400px;
    height: 300px;
}

.navegacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.navegacion_enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}
.tituloredes{
    line-height: 4;
}


@media (min-width: 1px){
    .serviciosfooter {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 480px){
    .serviciosfooter {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px){
    .serviciosfooter {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1480px){
    .serviciosfooter {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*
footer{
    color: white;
    font-size: medium;
    background: linear-gradient(90deg, rgba(68,195,235,1) 35%, rgba(84,130,253,1) 100%);
    padding: 90px 0
}
.footer-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.box{
    display: inline-block;
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    width: 250px;
    text-align: justify;
}
*/